 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #F9F8FB;
active-foreground: #F9F8FB;
normal-background: #120E16;
normal-foreground: #F9F8FB;
urgent-background: #F9F8FB;
urgent-foreground: #F9F8FB;

alternate-active-background: #9771B2;
alternate-active-foreground: #F9F8FB;
alternate-normal-background: #120E16;
alternate-normal-foreground: #F9F8FB;
alternate-urgent-background: #120E16;
alternate-urgent-foreground: #F9F8FB;

selected-active-background: #F9F8FB;
selected-active-foreground: #120E16;
selected-normal-background: #F9F8FB;
selected-normal-foreground: #120E16;
selected-urgent-background: #9771B2;
selected-urgent-foreground: #120E16;

background-color: #120E16;
background: rgba(0,0,0,0.7);
foreground: #F9F8FB;
border-color: #F9F8FB;

color0: #1E172B;
color1: #543798;
color2: #241A30;
color3: #322A58;
color4: #9881A3;
color5: #543798;
color6: #F9F8FB;
color7: #F9F8FB;
color8: #9881A3;
color9: #322A58;
color10: #543798;
color11: #9771B2;
color12: #F9F8FB;
color13: #F9F8FB;
color14: #F9F8FB;
color15: #FFFFFF;


}

